/* General Demo Style */

body {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 13px;
    background: #fff url(../images/bg.jpg);
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
    font-weight: 300;
}

a {
    color: #555;
    text-decoration: none;
}

strong {
    font-weight: 500;
}

.container {
    width: 100%;
    position: relative;
}

.clr {
    clear: both;
    padding: 0;
    height: 0;
    margin: 0;
}

.main {
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.container > header {
    margin-bottom: 20px;
    padding: 20px 10px 10px 10px;
    position: relative;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}

.container > header h1 {
    font-size: 28px;
    line-height: 28px;
    margin: 0;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Arvo', Arial, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

.container > header h2 {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 15px 30px 10px;
    color: #f0f0f0;
    width: 75%;
    margin: 0 auto;
}

.container > header h2 a {
    color: #fff;
}

.container > header h2 a:hover {
    color: #e6b741;
}

/* Header Style */

.top {
    line-height: 24px;
    font-size: 11px;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    font-family: Cambria, Georgia, serif;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.top:before,
.top:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.top:after {
    clear: both
}

.top a {
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #333;
    display: inline-block;
}

.top a:hover {
    background: rgba(255,255,255,0.6)
}

.top span.right {
    float: right
}

.top span.right a {
    float: left;
    display: block;
}

.support-note span,
.demo-note {
    color: #e07870;
    font-size: 16px;
    display: none;
    font-weight: 500;
    text-align: center;
    padding: 5px 0;
    text-shadow:  1px 1px 1px rgba(0,0,0,0.3);
}

.no-cssanimations .support-note span.no-cssanimations,
.no-csstransforms .support-note span.no-csstransforms,
.no-csstransforms3d .support-note span.no-csstransforms3d,
.no-csstransitions .support-note span.no-csstransitions {
    display: block;
}

@media screen and (max-width: 960px) {
    .demo-note { display: block;}
}