/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Alegreya+SC:700|Cutive+Mono);

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #810606;
    font-weight: 400;
    font-size: 15px;
    color: #333;
    overflow: hidden;
    height: 100%;
}

a {
	color: #000;
	text-decoration: none;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
}

.container > h1 {
	z-index: 9999;
	font-weight: 400;
	padding: 50px 20px;
}

.js .container > h1 {
	position: fixed;
	-webkit-backface-visibility: hidden;
	bottom: 0;
	left: 0;
	color: #f0f0f0;
	padding: 20px;
	font-size: 20px;
}

.container > h1 a {
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	padding: 0 0 0 10px;
	color: #fff;
	font-weight: 700;
}

.container > h1 a:hover,
.container > h1 a.demo-current {
	color: #222;
}

/* Header Style */
.top {
	line-height: 24px;
	font-size: 11px;
	text-transform: uppercase;
	z-index: 9999;
	background: rgba(255,255,255,0.4);
}

.js .top {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background: transparent;
}

.top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	color: rgba(0,0,0,0.7);
	display: inline-block;
}

.top a:hover {
	color: #000;
}

.top span.right {
	float: right;
}

.top span.right a {
	float: left;
	display: block;
}
