@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #5b4c5c;
	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', Arial, sans-serif;
}

a {
	color: #928792;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #726973;
}

.header {
	margin: 0 auto;
	padding: 2em 2em 0;
	text-align: center;
}

.demo-2 .header {
	position: absolute;
	top: 0;
	width: 100%;
	color: #fff;
	z-index: 10000;
	padding: 0;
}

.header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
	padding-top: 0.2em;
}

.demo-2 .header h1 {
	padding-top: 1em;
}

.header h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 0.6em;
	opacity: 0.6;
}

/* Demo Buttons */
.demos {
	margin: 0 auto;
	padding: 20px 0;
}

.demos a {
	display: inline-block;
	font-weight: 400;
	padding: 5px 2px;
	margin: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: 0 1px 0 #928792;
	-webkit-transition: box-shadow 0.5s;
	transition: box-shadow 0.2s;
}

.demos a:hover {
	box-shadow: 0 4px 0 #928792;
}

.demos a:active,
.demos a.current-demo {
	box-shadow: 0 4px 0#e74c3c;
	color: #726973;
}

/* To Navigation Style */
.top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	line-height: 2.2;
	text-align: left;
}

.top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 1px;
}

.demo-2 .top a:hover {
	color: #f0f0f0;
}

.top span.right {
	float: right;
}

.top span.right a {
	display: block;
	float: left;
}

.icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.icon-drop:before {
	content: "\e001";
}

.icon-prev:before {
	content: "\e004";
}

section {
	padding: 0 0 2em;
	text-align: center;
}

.dummy {
	font-size: 1.75em;
	color: #aaa;
	text-align: justify;
	width: 65%;
	margin: 0 auto;
	padding-top: 3.5em;
}

.dummy h2 {
	text-align: center;
}

.dummy p {
	line-height: 1.4;
	position: relative;
	font-weight: 300;
	margin: 0 0 0.65em;
}

.dummy p:last-child::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 120px;
	width: 100%;
	background-image: linear-gradient(to bottom, transparent, white);
}

.related p {
	font-size: 1.5em;
}

.related > a {
	border: 3px solid #928792;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	-webkit-transition: color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
}

.related a:hover {
	border-color: #726973;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}

/* Custom select style, from: https://coderwall.com/p/w7npmq and http://codepen.io/gnclmorais/pen/cHkqt */
.custom-select {
	padding: 0;
	border: 3px solid #5b4c5c;
	width: 300px;
	margin: 20px auto 25px;
	overflow: hidden;
	font-size: 1.2em;
	background: transparent url(../img/triangle_dark.png) no-repeat 94% 50%;
}

.custom-select select {
	padding: 10px 15px;
	cursor: pointer;
	width: 100%;
	color: #5b4c5c;
	border: none;
	box-shadow: none;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-indent: 0.01px;
    text-overflow: '';
}

.custom-select select:focus {
	outline: none;
}

@media screen and (max-width: 25em) {

	.icon span {
		display: none;
	}

}